<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheResultFile=".phpunit.cache/test-results"
         colors="true"
         executionOrder="depends,defects"
         forceCoversAnnotation="true"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         convertDeprecationsToExceptions="true"
         failOnRisky="true"
         failOnWarning="true"
         verbose="true">
    <testsuites>
        <testsuite name="All">
            <directory>./tests</directory>
        </testsuite>
        <testsuite name="Common">
            <directory>./tests/Common</directory>
        </testsuite>
        <testsuite name="Shared">
            <directory>./tests/Shared</directory>
        </testsuite>
    </testsuites>

    <extensions>
        <extension class="Tests\Hook\BypassFinalHook" />
    </extensions>

    <coverage cacheDirectory=".phpunit.cache/code-coverage"
              processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <report>
            <html outputDirectory="reports/phpunit" />
        </report>
    </coverage>

    <php>
        <env name="APP_ENV" value="test" force="true" />
    </php>
</phpunit>
